.col{
    border-color: #343a40!important;
    border: 1px solid #dee2e6!important;
}

.layout {
    margin-bottom: 20px;
}

.margin {
    margin: auto;
}

.size {
    width: 250px;
}

.clock-size{ width: 450px; } 