<div class="container" style="">
    <h1 class="text-center align-middle m-5">Welcome to Berlin clock</h1>
    <article class="m-4 border border-secondary p-5 rounded text-justify">
        The Berlin Clock (Mengenlehreuhr) is a rather strange way to show the time; it was the first public clock in the
        world that tells the time by means of illuminated, coloured fields since its installation on 17 June 1975.
        Commissioned by the Senate of Berlin and designed by Dieter Binninger, the original full-sized Mengenlehreuhr
        was originally located at the Kurfürstendamm on the corner with Uhlandstraße. After the Senate decommissioned it
        in 1995, the clock was relocated to a site in Budapester Straße in front of Europa-Center, where it stands
        today.
        On the top of the clock there is a yellow lamp that blinks on/off every two seconds. The time is calculated by
        adding rectangular lamps.
        The top two rows of lamps are red. These indicate the hours of a day. In the top row there are 4 red lamps.
        Every lamp represents 5 hours. In the lower row of red lamps every lamp represents 1 hour.
        The two rows of lamps at the bottom count the minutes. The first of these rows has 11 lamps, the second 4. In
        the first row every lamp represents 5 minutes, where the 3rd, 6th and 9th lamp are red and indicate the first
        quarter, half and last quarter of an hour, while the other lamps are yellow. In the last row with 4 lamps every
        lamp represents 1 minute.
        The lamps are switched on from left to right.
    </article>
    <button routerLink="/clock" class="btn d-flex m-auto">
        <h3 class="p-2">Start</h3>
    </button>
</div>